<!DOCTYPE html>
<html>
  <head>
    <title>Test server ${type}</title>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, interactive-widget=resizes-visual' />
    <link rel='stylesheet' href='layout.css?${version}' />
    ${scripts}
  </head>
  <body>
    <h1>Test server ${type}</h1>
    <div class="content">${content}</div>
    <div>
      <form action="/" method="POST">
        <input type="text" name="id" value="bob" />
        <textarea name="data">This is not a pipe</textarea>
        <input type="submit" value="go" />
      </form>
    </div>
    <div class="footer">${info}</div>
  </body>

</html>